@import "tailwindcss";

@theme {
  --color-primary: #333333;
  --color-secondary: #6b6b6b;
  --color-label: #8a8a8a;
  --color-subtle: #c4c4c4;
}

.heading-primary {
  @apply text-primary text-3xl font-bold;
}

.font-eng {
  font-family: "Afacad", var(--font-sans);
}
